/** General **/
html {
    box-sizing: border-box;
}

.fa-save{
    width: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

body {
    background-color: #2d3d4c;
}

.container {
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}

/** HEADER **/
.title {
    text-align: center;
    margin-bottom: 0;
    color: #a7b1c2;
}
.subTitle {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #a7b1c2;
}

/** MAIN **/
.item {
    width: 100%;
    background-color: #2f4050;
    height: 50px;
    color: #a7b1c2;
    border-bottom: 1px solid #19aa8d;
    border-radius: 5px;
    display: flex;
    z-index: 0;
}

.item:last-child {
    border-bottom: none;
}

.task {
    width:90%;
    cursor: pointer;
    display: inline-flex;
}

.task:hover{
    background-color: #293846;
    color: #ffffff;
}

.taskDone {
    border-left: 5px solid #19aa8d;
    color: white;
}

.doneText {
    margin: auto 0 auto 20px;
    pointer-events: none;
    color: #19aa8d;
    font-size: 20px;
}

.btnTask {
    height: inherit;
    font-size: 20px;
    background-color: #405160;
    color: #19aa8d;
    padding: 10px;
    display: inline;
    border-style: none;
    border-left: 1px solid #19aa8d;
    border-bottom: 1px solid #19aa8d;
    cursor: pointer;
}

.btnTask i {
    pointer-events: none;
}

.btnDel:hover {
    background-color: #293846;
}

.inputTask {
     background-color: inherit;
     border: none;
     width: 100%;
     pointer-events: none;
     color: #a7b1c2;
     margin-left: 20px;
}

.inputTaskEdit {
    background-color: #405160;
    color: white;
    width: 100%;
    border: 1px solid #19aa8d;
    border-radius: 5px;
    padding-left: 10px;
    pointer-events: auto;
}

/* Task style */

/* Add Task */
.addDiv {
    margin-top: 30px;
    white-space: nowrap;
    overflow-x: auto;
}

#newTask {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    background-color: #405160;
    border: 1px solid #19aa8d;
    border-radius: 5px;
    box-sizing: border-box;
    color: #a7b1c2;
}

.addBtn {
    background-color: #405160;
    display: inline-block;
    padding: 14px 20px;
    color: #19aa8d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/** FOOTER **/