/** General **/
html {
    box-sizing: border-box;
}

body {
    background-color: #2d3d4c;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

.fa {
    width: 20px;
    pointer-events: none;
}

.btn {
    background-color: #405160;
    color: #19aa8d;
    border-style: none;
    cursor: pointer;
}

.container {
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}

/** HEADER **/
.title {
    text-align: center;
    margin: 50px 0 0 0;
    color: #a7b1c2;
}
.subTitle {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #a7b1c2;
}

/** MAIN **/
.item {
    background-color: #2f4050;
    height: 50px;
    border-bottom: 1px solid #19aa8d;
    border-radius: 5px;
    display: flex;
}

.item:last-child {
    border-bottom: none;
}

.item:last-child > .btnTask {
    border-bottom: none;
}

.task {
    width: 100%;
    color: #a7b1c2;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex;
}

.task:hover{
    background-color: #293846;
    color: #ffffff;
}

.taskDone{
    border-left: 5px solid #19aa8d;
    border-radius: 5px;
    background-color: #212d38;
    color: #ffffff;
}

.doneSpan {
    margin: auto 0 auto 20px;
    pointer-events: none;
    color: #19aa8d;
    font-size: 20px;
}

.btnTask {
    height: inherit;
    padding: 10px;
    font-size: 20px;
    border-left: 1px solid #19aa8d;
    border-bottom: 1px solid #19aa8d;
    display: inline-flex;
}

.btnTask:hover {
    background-color: #293846;
}

.btnTaskDisable {
    pointer-events: none;
    opacity: 0.3;
}

.inputTask {
     background-color: inherit;
     border: none;
     width: 100%;
     color: #a7b1c2;
     margin-left: 20px;
     pointer-events: none;
}

.inputTaskEdit {
    background-color: #405160;
    border: 1px solid #19aa8d;
    width: 100%;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    pointer-events: auto;
}

/* Add Task */
.addDiv {
    margin-top: 30px;
    display: flex;
    white-space: nowrap;
}

#newTask {
    width: 100%;
    padding: 12px 20px;
    margin-right: 5px;
    display: inline-flex;
    background-color: #405160;
    border: 1px solid #19aa8d;
    border-radius: 5px;
    color: #a7b1c2;
}

.addBtn {
    display: inline-flex;
    padding: 0 15px;
    border-radius: 5px;
}
